<mat-card>
  <mat-card-title>
    {{ title }}
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Transações">
        <div class="valores">
          <mat-form-field>
            <input
              matInput
              readonly
              placeholder="Saldo"
              value="{{ cliente?.pontos.total | currency: ' ':' ':'1.2-2' }}"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              readonly
              placeholder="Histórico"
              value="{{
                cliente?.pontos.historico | currency: ' ':' ':'1.2-2'
              }}"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              readonly
              placeholder="Utilizados"
              value="{{
                cliente?.pontos.utilizados | currency: ' ':' ':'1.2-2'
              }}"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              readonly
              placeholder="Perdidos"
              value="{{
                cliente?.pontos.expirados | currency: ' ':' ':'1.2-2'
              }}"
            />
          </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <div class="form-nota">
          <h3>Adicionar nota</h3>
          <mat-form-field class="nome-loja">
            <input
              matInput
              placeholder="Loja"
              #nomeLoja
              disabled="{{ !cliente ? true : false }}"
            />
            <mat-hint>Razão social, nome fantasia ou CNPJ</mat-hint>
          </mat-form-field>
          <div class="dados-nota">
            <mat-form-field class="numero-nota">
              <mat-label>Nº da nota</mat-label>

              <input
                matInput
                #numeroNota
                disabled="{{ !cliente ? true : false }}"
              />
            </mat-form-field>
            <mat-form-field class="data-nota">
              <input
                matInput
                type="date"
                placeholder="Data da Nota"
                #dataNota
                disabled="{{ !cliente ? true : false }}"
              />
            </mat-form-field>

            <mat-form-field class="numero-nota">
              <mat-label>Forma de pagamento</mat-label>
              <mat-select
                value="Selecionar"
                #formaPagamento
                disabled="{{ !cliente ? true : false }}"
              >
                <mat-option value="Dinheiro">Dinheiro</mat-option>
                <mat-option value="Débito">Débito</mat-option>
                <mat-option value="Crédito">Crédito</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Valor da Nota"
                type="number"
                class="right-align"
                #valorNota
                disabled="{{ !cliente ? true : false }}"
              />
              <span matPrefix>&#82;&#36; </span>
            </mat-form-field>
          </div>
          <div class="actions">
            <button
              mat-stroked-button
              disabled="{{ !cliente ? true : false }}"
              (click)="
                clearNota(
                  nomeLoja,
                  numeroNota,
                  dataNota,
                  formaPagamento,
                  valorNota
                )
              "
            >
              Cancelar
            </button>
            <button
              mat-raised-button
              disabled="{{ !cliente ? true : false }}"
              color="primary"
              (click)="
                addNota(
                  nomeLoja,
                  numeroNota,
                  dataNota,
                  formaPagamento,
                  valorNota
                )
              "
            >
              Adicionar
            </button>
          </div>
        </div>
        <div class="cadastrar-notas">
          <h3>Cadastrar notas</h3>
          <mat-hint *ngIf="dataSource.length > 0"
            >Você precisa confirmar o cadastro dessa lista de notas</mat-hint
          >
          <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="loja">
              <mat-header-cell *matHeaderCellDef> Loja </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.loja }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="nota">
              <mat-header-cell *matHeaderCellDef>
                Nº da nota
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.nota }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="data">
              <mat-header-cell *matHeaderCellDef>
                Data da Nota
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.data }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="dataCadastro">
              <mat-header-cell *matHeaderCellDef>
                Cadastro
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.dataCadastro }}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="valor">
              <mat-header-cell *matHeaderCellDef>
                Valor
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.valor | currency: 'BRL':true }}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="mais">
              <mat-header-cell *matHeaderCellDef> </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <mat-icon>more_vert</mat-icon>
              </mat-cell>
            </ng-container>
            <mat-header-row
              *matHeaderRowDef="displayedColumns"
            ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>
          <div class="actions">
            <button mat-stroked-button (click)="clearNotas()">
              Cancelar
            </button>
            <button mat-raised-button color="primary" (click)="sendNotas()">
              Cadastrar
            </button>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Benefícios"> Content 2 </mat-tab>
      <mat-tab label="Hitórico"> Content 3 </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
