.busca
  background-color: #f4f5f7
  height: 100vh
  width: 400px
  border-right: 1px solid #dcddde
  input
    width: 100%
    border: none
    border-bottom-width: 1px
    border-bottom-style: solid
    border-bottom-color: #dcddde
    height: 50px
    padding: 10px 0 10px 20px
    margin-bottom: 20px
    background-color: transparent
    font-size: 18px
  a
    text-decoration: none
    padding: 10px 20px 10px 20px
    margin-bottom: 10px
    display: block
    &:active
    &:visited
      color: #35434d
    .cliente
      margin-bottom: 20px
      &-email
        font-size: 13px
      &-nome
        font-size: 16px
        font-weight: bold
        margin-top: 5px
        margin-bottom: 5px
      &-cpf
        font-size: 13px
  hr
    border: none
    border-bottom-width: 1px
    border-bottom-style: solid
    border-bottom-color: #dcddde
    padding: 1px
