#cliente-email
  font-size: 13px
#cliente-nome
  font-size: 16px
  font-weight: bold
  margin: 5px 0 5px 0
#cliente-cpf
  font-size: 13px
.full-width
  width: 100%
mat-nav-list
  background-color: #f4f5f7

mat-form-field
  background-color: #f4f5f7

.container
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: #eee
  .sidenav
    width: 25vw
